/* .blog-news {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.blog-entry {
  border: 1px solid black;
}

.card {
  margin: 20px;
  width: 250px;
  border: 1px solid grey;
  border-radius: 15px;
} */
