/*
 >>> Specific Site Elements Stylying <<<
*/

/*Header Stylying*/
.header__container {
  display: flex;
  background-color: var(--dark-gray-bg-background);
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: var(--default-margin);
}

.header__navbar__li {
  display: flex;
  padding: 0 40px;
  gap: 15px;
  flex-wrap: wrap;
}

.header__navbar__li a {
  color: var(--black-bg-background);
  padding: 10px 20px;
  margin: 0 5px;
}

.header__navbar__li a:hover {
  border: var(--btn-hov-border) 2.5px solid;
  background: var(--black-bg-background);
  color: var(--white-bg-background);
  border-radius: var(--round-border-radius);
}

/*Image Stylying*/
.header__container__img {
  width: 150px;
  margin: 40px;
  border-radius: var(--square-border-radius);
}

.header__container__img:hover {
  opacity: 0.8;
  width: 160px;
  border: var(--black-bg-background) 2px solid;
}

/*Sales Section*/
.main__sale__container {
  margin: var(--default-margin);
  display: flex;
  flex: wrap;
  gap: 20px;
}

.main__sale-item__image {
  padding: 10px;
}

.main__sale__image {
  width: 250px;
  height: 350px;
  mix-blend-mode: multiply;
  position: relative;
  z-index: -1;
}

.main__sale__img-wrapper-ribbon {
  width: 85px;
  height: 370px;
  overflow: hidden;
  position: absolute;
  top: 104px;
  left: 32px;
}

.main__sale__img-ribbon {
  font: bold 15px sans-serif;
  color: #333;
  text-align: center;
  transform: rotate(-45deg);
  position: relative;
  padding: 7px 0;
  top: 15px;
  left: -30px;
  width: 120px;
  background-color: var(--ribbon-background-color);
  color: var(--txt-btn-color);
  text-transform: uppercase;
}

.main__sale__img-ribbon:hover {
  background-color: var(--ribbon-hover-background-color);
  color: var(--txt-btn-color);
}

.main__sale-item-content {
  padding: 10px;
  border-radius: var(--square-border-radius);
  border: 1px dotted gray;
  margin: var(--default-margin);
}

.main__sale-info {
  margin: 10px 60px 30px;
  padding: 0;
}

.main__sale-info-sale {
  color: var(--red-bg-background);
  font-size: 24px;
  font-weight: 500;
}

.main__sale__iPhone-Cost {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 20px 0px 20px 0;
}

.main__sale__info-screen {
  margin: 10px;
  padding: 10px;
}

.main__sale__info-price {
  font-weight: bold;
  font-size: 20px;
  padding-left: 0;
}

.main__sale-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 30px;
}

.icons-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*Accessories Stylying*/
.main__accesories-container {
  margin: var(--default-margin);
  margin-bottom: 10px;
}

.main__accesories-header {
  padding: 10px;
}

.main__accessories-section {
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.main__accesory-card {
  border: 2px dotted grey;
  border-radius: var(--round-border-radius);
  border: var(--box-border) 2px solid;
  background: var(--light-gray-bg-background);
  max-width: 350px;
  height: 500px;
  box-shadow: var(--shadow-box-shadow);
}

.main__accesory-details {
  height: 270px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.main__accesory-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 250px;
  background: var(--white-bg-background);
  border: var(--box-border) 2px solid;
  border-radius: var(--round-border-radius);
}

.main__accesory-image img {
  mix-blend-mode: multiply;
  max-width: 70%;
  height: 180px;
  transition: transform 0.2s;
}

.main__accesory-image:hover {
  cursor: var(--pointer-cursor);
  border: var(--box-border) 1px dotted;
  transform: scale(1.2);
  box-shadow: var(--shadow-box-shadow);
  border: var(--box-border) 2px dotted;
}

.main__accessory-card-header {
  margin: 30px 0;
  font-size: 16px;
}

.main__accesory-card-header:hover {
  cursor: var(--pointer-cursor);
  font-size: 15px;
  color: var(--red-color);
}

.main__accesory-card-info {
  margin-top: 10px;
}

/*Raffle Section*/
.main__raffle-section {
  margin: var(--default-margin);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
}

.main__raffle-info {
  background-color: gray;
  max-width: 70%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  background: var(--light-gray-bg-background);
  box-shadow: 14px 14px 20px var(--med-dark-gray-bg-background);
  border-radius: var(--square-border-radius);
}

.main__raffle-info-content-header {
  padding: 20px 0 0 50px;
  font-size: 30px;
  font-weight: 400;
}

.main__raffle-info-content-sub-header {
  padding: 0 0 0 50px;
  font-size: 30px;
  font-weight: 400;
}

.main__raffle-info-content-details {
  padding: 20px 0 0 50px;
  font-size: 20px;
  font-weight: 300;
}

.main__span__raffle {
  font-style: italic;
  font-weight: bold;
  color: var(--red-color);
}

/*Raffle User Input Section*/
.main__raffle-user-info {
  border-radius: var(--square-border-radius);
  margin: 30px 30px 30px 0;
  padding: 40px;
  background: var(--light-gray-bg-background);
  box-shadow: 14px 14px 20px var(--med-dark-gray-bg-background);
  border-radius: var(--square-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__raffle-user-logo {
  width: 150px;
  border-radius: var(--square-border-radius);
}

.main__raffle-user-input {
  display: flex;
  flex-direction: column;
}

.main__raffle-user-input label,
input {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.main__raffle-user-input label {
  margin-bottom: 2px;
}

.main__raffle-user-input label:nth-of-type(2) {
  margin-top: 12px;
}

.main__raffle-user-input input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: var(--circle-border-radius);
  box-shadow: inset 6px 6px 6px var(--med-dark-gray-bg-background),
    inset -6px -6px 6px #fff;
  font-weight: bold;
}

/*Footer*/
.footer__container {
  margin: 0;
  background-color: var(--dark-gray-bg-background);
  height: 120px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

.footer__copyright-logo {
  width: 30px;
  height: 30px;
  mix-blend-mode: multiply;
}

.footer__social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*+++++++++++++++++++++++++++++/
>>> Media - Mobile stylying <<<
++++++++++++++++++++++++++++++*/
@media (max-width: 640px) {
  /*Header Mobile Section*/
  .header__container__img {
    margin: 0 50px 10px 80px;
    padding: 0px 20px;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 20px 20px 0;
    padding: 20px;
    height: 100px;
  }

  .header__navbar__li {
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
  }

  .header__navbar__li a {
    padding: 0;
  }

  /* Sale Mobile Section*/
  .main__sale__container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 1030px;
    border: none;
  }

  .main__sale__image {
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 250px;
  }

  .main__sale__img-wrapper-ribbon {
    width: 75px;
    height: 280px;
    overflow: hidden;
    position: absolute;
    top: 121px;
    left: 120px;
  }

  main__sale-item-content {
    padding: 20px;
    border: none;
  }

  .main__sale-info {
    border: none;
  }

  .main__sale-icons {
    flex-wrap: wrap;
  }

  .main__sale-icon-space {
    font-size: 15px;
    padding-left: 10px;
  }

  .main__sale-icons-info {
    display: flex;
    align-items: center;
  }

  /*Accesories Mobile Section*/
  .main__accesories-container {
    margin: 120px 30px 10px 40px;
  }

  .main__accesories-header {
    padding: 10px;
    font-size: 20px;
  }

  .main__accessories-section {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
  }

  .main__accesory-card {
    max-width: 280px;
    height: 500px;
  }

  .main__accesory-image img {
    max-width: 60%;
    height: 150px;
  }

  .main__accessory-card-header {
    font-size: 14px;
  }

  .main__accesory-card-info {
    margin-top: 10px;
  }

  /*Raffle Mobile Section*/
  .main__raffle-section {
    margin: 0;
  }

  .main__raffle-user-info {
    margin: 10px 30px 10px 0px;
    //justify-content: start;
  }

  .main__rafle-user-logo {
    width: 120px;
    border-radius: var(--square-border-radius);
  }

  .main__raffle-info-content-header,
  .main__raffle-info-content-sub-header {
    padding: 10px 10px 0 25px;
    font-size: 30px;
    font-weight: 350;
  }

  .main__raffle-info-content-details {
    padding: 10px 10px 0 25px;
    font-size: 15px;
  }

  .footer__container {
    margin: 0;
  }

  .footer__copyright {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
