/*Specific Non Repetitive Stylying*/

/*Header Stylying*/
/*Menu NavBar Stylying*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-gray-bg-background);
  opacity: 0.8;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

.navbar a {
  color: var(--black-bg-background);
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover {
  border: var(--btn-hov-border) 2.5px solid;
  background: var(--black-bg-background);
  color: var(--white-bg-background);
  border-radius: var(--round-border-radius);
}

.navbar ul {
  display: flex;
}

/*Image Stylying*/
.navbar .logo {
  width: 150px;
  margin: 40px;
  border-radius: var(--square-border-radius);
}

.navbar .logo:hover {
  opacity: 0.8;
  border: var(--black-bg-background) 2px solid;
}

/*Sales Section*/
.sale {
  margin: 100px 50px;
  weight: 100%;
}
.sale-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sale-pic {
  max-width: 400px;
  height: 400px;
}

.sale-pic img {
  width: 300px;
  height: 400px;
}

.sale-info h3 {
  color: var(--red-bg-background);
}

.sale-info {
  margin: 10px 60px 30px;
  padding: 0;
  max-width: 60%;
}

.sale-info .iPhone-Cost {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.sale-info .price {
  font-weight: bold;
  font-size: 20px;
  padding-left: 0;
  padding-right: 40px;
}

.sale-info .icons {
  display: flex;
  justify-content: start;
  align-items: center;
}

.sale-info .screen {
  padding: 5px 0;
}

.sale-info .icon-space {
  padding: 0px;
}

/*Accesories Section*/
.accesories-header {
  margin: 0px 0px 0px 50px;
}

.accessories {
  display: flex;
  margin: 20px 0 50px 50px;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px;
}

/*Raffle Section*/
.raffle-section {
  background: var(--white-bg-background);
  border-radius: var(--round-border-radius);
  border: var(--box-border) 2px dotted;
  margin: 20px 150px 50px 50px;
  height: 400px;
}

.raffle-info {
  display: flex;
  align-items: start;
}

.raffle-info-content {
  margin: 30px;
  width: 80%;
  height: 340px;
  background: var(--light-gray-bg-background);
  box-shadow: 14px 14px 20px var(--med-dark-gray-bg-background),
    -14px -14px 20px white;
  border-radius: var(--square-border-radius);
}

.raffle-user-info {
  margin: 30px;
  height: 340px;
  width: 25%;
  background: var(--light-gray-bg-background);
}

.raffle-info-content-header {
  padding: 20px 0 0 50px;
  font-size: 30px;
  font-weight: 400;
}

.raffle-info-content-sub-header {
  padding: 0 0 0 50px;
  font-size: 30px;
  font-weight: 400;
}

.raffle-info-content-details {
  padding: 20px 0 0 50px;
}

.sorteo {
  font-style: italic;
  font-weight: bold;
  color: var(--red-color);
}

/*Raffle User Input Section*/
.raffle-user-info {
  border-radius: var(--square-border-radius);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 14px 14px 20px var(--med-dark-gray-bg-background),
    -14px -14px 20px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rafle-user-logo {
  width: 150px;
  border-radius: var(--square-border-radius);
  //margin: auto;
}

.rafle-user-input {
  display: flex;
  flex-direction: column;
}

label,
input {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 2px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: var(--circle-border-radius);
  box-shadow: inset 6px 6px 6px var(--med-dark-gray-bg-background),
    inset -6px -6px 6px #fff;
  font-weight: bold;
}

/*Footer*/
.footer-container {
  margin: 0;
  background-color: var(--dark-gray-bg-background);
  height: 120px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

.copyright-logo {
  width: 30px;
  height: 30px;
  mix-blend-mode: multiply;
}

.social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*Media - Mobile*/
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: start;
  }
}
