/*Specific Non Repetitive Stylying*/

/*Header Stylying*/
.header__container {
  display: flex;
  background-color: var(--dark-gray-bg-background);
  height: 70px;
  justify-content: space-between;
  align-items: center;
  margin: var(--default-margin);
}

.header__navbar__li {
  display: flex;
  padding: 0 40px;
  gap: 15px;
  flex-wrap: wrap;
}

.header__navbar__li a {
  color: var(--black-bg-background);
  padding: 10px 20px;
  margin: 0 5px;
}

.header__navbar__li a:hover {
  border: var(--btn-hov-border) 2.5px solid;
  background: var(--black-bg-background);
  color: var(--white-bg-background);
  border-radius: var(--round-border-radius);
}

/*Image Stylying*/
.header__container__img {
  width: 150px;
  margin: 40px;
  border-radius: var(--square-border-radius);
}

.header__container__img:hover {
  opacity: 0.8;
  width: 160px;
  border: var(--black-bg-background) 2px solid;
}

/*Sales Section*/
.main__sale__container {
  /*background: green;*/
  margin: var(--default-margin);
  display: flex;
  flex: wrap;
  gap: 20px;
}

.main__sale-item__image {
  padding: 10px;
  /*background-color: yellow;*/
}

.main__sale__image {
  width: 250px;
  height: 350px;
  mix-blend-mode: multiply;
}

.main__sale-item-content {
  padding: 10px;
  /*background-color: greenyellow;*/
  border-radius: var(--square-border-radius);
  border: 1px dotted gray;
}

.main__sale-info {
  margin: 10px 60px 30px;
  padding: 0;
}

.main__sale-info-sale {
  color: var(--red-bg-background);
  font-size: 24px;
  font-weight: 500;
}

.main__sale__iPhone-Cost {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 20px 0px 20px 0;
}

.main__sale__info-screen {
  margin: 10px;
  padding: 10px;
}

.main__sale__info-price {
  font-weight: bold;
  font-size: 20px;
  padding-left: 0;
}

.main__sale-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding-top: 30px;
  /*max-width: 800px;*/
}

.icons-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*Accesories Section*/
.accessories-container {
  margin: 0;
  padding: 0;
}
.accesories-header {
  margin: 0px 0px 0px 50px;
}

.accessories {
  display: flex;
  margin: 20px 0 50px 50px;
  justify-content: start;
  flex-wrap: wrap;
  gap: 30px;
}

/*Raffle Section*/
.raffle-section {
  background: var(--white-bg-background);
  border-radius: var(--round-border-radius);
  //border: var(--box-border) 2px dotted;
  margin: 20px 150px 50px 50px;
  height: 400px;
}

.raffle-info {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.raffle-info-content {
  margin: 30px;
  width: 70%;
  height: 340px;
  background: var(--light-gray-bg-background);
  box-shadow: 14px 14px 20px var(--med-dark-gray-bg-background),
    -14px -14px 20px white;
  border-radius: var(--square-border-radius);
}

.raffle-user-info {
  margin: 30px;
  height: 340px;
  width: 20%;
  background: var(--light-gray-bg-background);
}

.raffle-info-content-header {
  padding: 20px 0 0 50px;
  font-size: 30px;
  font-weight: 400;
}

.raffle-info-content-sub-header {
  padding: 0 0 0 50px;
  font-size: 30px;
  font-weight: 400;
}

.raffle-info-content-details {
  padding: 20px 0 0 50px;
}

.sorteo {
  font-style: italic;
  font-weight: bold;
  color: var(--red-color);
}

/*Raffle User Input Section*/
.raffle-user-info {
  border-radius: var(--square-border-radius);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 14px 14px 20px var(--med-dark-gray-bg-background),
    -14px -14px 20px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rafle-user-logo {
  width: 150px;
  border-radius: var(--square-border-radius);
  //margin: auto;
}

.rafle-user-input {
  display: flex;
  flex-direction: column;
}

label,
input {
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 2px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: var(--circle-border-radius);
  box-shadow: inset 6px 6px 6px var(--med-dark-gray-bg-background),
    inset -6px -6px 6px #fff;
  font-weight: bold;
}

/*Footer*/
.footer-container {
  margin: 0;
  background-color: var(--dark-gray-bg-background);
  height: 120px;
}

.copyright {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

.copyright-logo {
  width: 30px;
  height: 30px;
  mix-blend-mode: multiply;
}

.social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*+++++++++++++++++++++++++++++/
>>> Media - Mobile stylying <<<
++++++++++++++++++++++++++++++*/
@media (max-width: 640px) {
  /*Header Section*/
  .header__container__img {
    margin: 0 50px 10px 80px;
    padding: 0px 20px;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 20px 20px 0;
    padding: 20px;
    height: 100px;
  }

  .header__navbar__li {
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
  }

  .header__navbar__li a {
    padding: 0;
  }

  /* Sale Section*/
  .main__sale__container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 1100px;
    border: none;
  }

  .main__sale__image {
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 250px;
  }

  main__sale-item-content {
    padding: 20px;
    border: none;
  }

  .main__sale-info {
    border: none;
  }

  .main__sale-icons {
    //margin: 20px;
    max-width: 950px;
    flex-wrap: wrap;
  }

  .sale-info .icon-space {
    font-size: 15px;
  }

  .icons-info {
    display: flex;
  }

  .accessories {
    margin-left: 15px;
    margin-bottom: 0;
    padding: 10px 5px 0 15px;
  }

  .accessory-card {
    margin: 0;
    padding: 10px 5px 0 15px;
  }

  .raffle-section {
    margin: 0;
    width: 480px;
  }

  .raffle-info {
    margin: 0;
    flex-direction: column;
  }

  .raffle-info-content {
    border: 2px dotted gray;
  }

  .raffle-info-content-header {
    padding: 10px 5px 0 15px;
    font-size: 20px;
    font-weight: 400;
  }

  .raffle-info-content-sub-header {
    padding: 2px 5px 0 15px;
    font-size: 20px;
    font-weight: 400;
  }

  .raffle-info-content-details {
    padding: 10px 5px 0 15px;
  }

  /*Raffle User Input Section*/

  .raffle-user-info {
    margin: 0 10px 12px 25px;
    padding-top: 10px;
    width: 350px;
    border: 2px dotted gray;
  }

  .rafle-user-logo {
    width: 120px;
    border-radius: var(--square-border-radius);
    //margin: auto;
  }

  .footer-container {
    margin: 360px 0px 0;
  }

  .copyright {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
