/*Utilities
Includes stylying that is repetitively used along the site.
*/

/*Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&family=Forum&family=Montserrat:wght@100;200;300;400&display=swap');

/*Variables*/
:root {
  /*Background Colors*/
  --dark-gray-bg-background: #c2c2d6;
  --black-bg-background: #000;
  --white-bg-background: #fff;
  --red-bg-background: #ff0000;
  --med-dark-gray-bg-background: #cbced1;
  --light-gray-bg-background: #f0f0f5;

  /*Border Radius*/
  --round-border-radius: 5px;
  --circle-border-radius: 50px;
  --square-border-radius: 20px;

  /*Border Colors*/
  --btn-hov-border: #ff751a;
  --btn-border: #fff;
  --box-border: #c2c2d6;

  /*Button Colors*/
  --blue-btn-background: #3385ff;
  --red-btn-background: #ff0000;
  --green-hover-btn-background: #33cc33;

  /*Cursor*/
  --pointer-cursor: pointer;

  /*Text Color*/
  --txt-btn-color: #fff;
  --red-color: #ff0000;
}
/*General Base Styles*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--white-bg-background);
  line-height: 1.6;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

/*Buttons*/
.primary-btn {
  background: var(--blue-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.primary-btn:hover {
  cursor: var(--pointer-cursor);
  background: var(--green-hover-btn-background);
  border: var(--btn-hov-border) 2px;
}

.sale-btn {
  margin: 0 0 10px 0;
  background: var(--red-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.new-btn {
  margin: 0 0 10px 0;
  background: var(--blue-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.raffle-user-btn {
  color: var(--txt-btn-color);
  margin-top: 20px;
  background: var(--blue-btn-background);
  height: 40px;
  border: var(--btn-border) 1px;
  border-radius: var(--round-border-radius);
  cursor: pointer;
  box-shadow: 6px 6px 6px var(--med-dark-gray-bg-background), -6px -6px 6px #fff;
  transition: 0.5s;
}

.raffle-user-btn:hover {
  box-shadow: none;
  background: var(--green-hover-btn-background);
}

/*Sale Info Section */
.sale-info .icon-space {
  padding: 0px;
}

/*Accessory Cards*/
.accessories .accessory-card {
  width: 380px;
  margin: 0px 30px 0 0;
  padding: 20px;
  border: var(--box-border) 2px solid;
  border-radius: var(--round-border-radius);
}

/*Card Images*/
.accessories .accesory-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 250px;
  background: var(--light-gray-bg-background);
  border: var(--box-border) 2px solid;
  border-radius: var(--round-border-radius);
}

.accessories .accesory-image img {
  mix-blend-mode: multiply;
  max-width: 70%;
  height: 200px;
}

.accessories .accesory-image:hover {
  cursor: var(--pointer-cursor);
  background: var(--dark-gray-bg-background);
  border: 2px dotted;
}

.accessory-card-header {
  margin: 20px 0;
  font-size: 16px;
}

.accessory-card-header:hover {
  cursor: var(--pointer-cursor);
  font-size: 20px;
  color: var(--red-color);
}

.accesory-card-info {
  padding: 0;
}
/*Utilities
Includes stylying that is repetitively used along the site.
*/

/*Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&family=Forum&family=Montserrat:wght@100;200;300;400&display=swap');

/*Variables*/
:root {
  /*Background Colors*/
  --dark-gray-bg-background: #c2c2d6;
  --black-bg-background: #000;
  --white-bg-background: #fff;
  --red-bg-background: #ff0000;
  --med-dark-gray-bg-background: #cbced1;
  --light-gray-bg-background: #f0f0f5;

  /*Border Radius*/
  --round-border-radius: 5px;
  --circle-border-radius: 50px;
  --square-border-radius: 20px;

  /*Border Colors*/
  --btn-hov-border: #ff751a;
  --btn-border: #fff;
  --box-border: #c2c2d6;

  /*Button Colors*/
  --blue-btn-background: #3385ff;
  --red-btn-background: #ff0000;
  --green-hover-btn-background: #33cc33;

  /*Cursor*/
  --pointer-cursor: pointer;

  /*Text Color*/
  --txt-btn-color: #fff;
  --red-color: #ff0000;

  /* Default Margin*/
  --default-margin: 0 30px 20px 30px;
}
/*General Base Styles*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--white-bg-background);
  line-height: 1.6;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

/*Buttons*/
.utility__primary-btn {
  background: var(--blue-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.primary-btn:hover {
  cursor: var(--pointer-cursor);
  background: var(--green-hover-btn-background);
  border: var(--btn-hov-border) 2px;
}

.sale-btn {
  margin: 0 0 10px 0;
  background: var(--red-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.new-btn {
  margin: 0 0 10px 0;
  background: var(--blue-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.raffle-user-btn {
  color: var(--txt-btn-color);
  margin-top: 20px;
  background: var(--blue-btn-background);
  height: 40px;
  border: var(--btn-border) 1px;
  border-radius: var(--round-border-radius);
  cursor: pointer;
  box-shadow: 6px 6px 6px var(--med-dark-gray-bg-background), -6px -6px 6px #fff;
  transition: 0.5s;
}

.raffle-user-btn:hover {
  box-shadow: none;
  background: var(--green-hover-btn-background);
}

/*Sale Info Section */
.sale-info .icon-space {
  padding: 0px;
}

/*Accessory Cards*/
.accessories .accessory-card {
  width: 380px;
  margin: 0px 30px 0 0;
  padding: 20px;
  border: var(--box-border) 2px solid;
  border-radius: var(--round-border-radius);
}

/*Card Images*/
.accessories .accesory-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 250px;
  background: var(--light-gray-bg-background);
  border: var(--box-border) 2px solid;
  border-radius: var(--round-border-radius);
}

.accessories .accesory-image img {
  mix-blend-mode: multiply;
  max-width: 70%;
  height: 200px;
}

.accessories .accesory-image:hover {
  cursor: var(--pointer-cursor);
  background: var(--dark-gray-bg-background);
  border: 2px dotted;
}

.accessory-card-header {
  margin: 20px 0;
  font-size: 16px;
}

.accessory-card-header:hover {
  cursor: var(--pointer-cursor);
  font-size: 20px;
  color: var(--red-color);
}

.accesory-card-info {
  padding: 0;
}
