/*Utilities
Includes stylying that is repetitively used along the site.
*/

/*Google Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&family=Forum&family=Montserrat:wght@100;200;300;400&display=swap');

/*Variables*/
:root {
  /*Background Colors*/
  --primary-bg-background: #9494b8;
  --secondary-bg-background: #c2c2d6;
  --third-bg-background: #000;
  --fourth-bg-background: #fff;
  --fifth-bg-background: #ff0000;
  --sixth-bg-background: #cceeff;
  --seventh-bg-background: #f0f0f5;

  /*Border Radius*/
  --round-border-radius: 5px;
  --user-input-border-radius: 20px;
  --circle-border-radius: 50%;

  /*Border Colors*/
  --bo-border: #ff751a;
  --btn-border: #fff;
  --box-border: #c2c2d6;

  /*Button Colors*/
  --primary-btn-background: #3385ff;
  --secondary-btn-background: #ff0000;
  --hover-btn-background: #33cc33;
  --txt-btn-color: #fff;

  /*Cursor*/
  --pointer-cursor: pointer;

  /*Text Color*/
  --red-color: #ff0000;
}
/*General Base Styles*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--fourth-bg-background);
  line-height: 1.6;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

/*Buttons*/
.primary-btn {
  background: var(--primary-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.primary-btn:hover {
  cursor: var(--pointer-cursor);
  background: var(--hover-btn-background);
  border: var(--bo-border) 2px;
}

.sale-btn {
  margin: 0 0 10px 0;
  background: var(--secondary-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.new-btn {
  margin: 0 0 10px 0;
  background: var(--primary-btn-background);
  color: var(--txt-btn-color);
  padding: 10px;
  border-radius: var(--round-border-radius);
  border: var(--btn-border) 1px;
}

.raffle-user-btn {
  color: var(--txt-btn-color);
  margin-top: 20px;
  background: var(--primary-btn-background);
  height: 40px;
  border: var(--btn-border) 1px;
  border-radius: var(--round-border-radius);
  cursor: pointer;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

.raffle-user-btn:hover {
  box-shadow: none;
  background: var(--hover-btn-background);
}

/*Sale Info Section */
.sale-info .icon-space {
  padding: 20px;
}

.accessories .accessory-card {
  width: 380px;
  margin: 0px 30px 0 0;
  padding: 20px;
  border: var(--box-border) 2px solid;
  border-radius: var(--round-border-radius);
}

/*Card Images*/
.accessories .accesory-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 250px;
  background: var(--seventh-bg-background);
  border: var(--box-border) 2px solid;
  border-radius: var(--round-border-radius);
}

.accessories .accesory-image:hover {
  cursor: var(--pointer-cursor);
  background: var(--secondary-bg-background);
  border: 2px dotted;
}

.accessories .accesory-image img {
  mix-blend-mode: multiply;
  max-width: 100%;
  height: 200px;
}

.accessory-card-header {
  margin: 20px 0;
  font-size: 16px;
}

.accessory-card-header:hover {
  cursor: var(--pointer-cursor);
  font-size: 20px;
  color: var(--red-color);
}

.accesory-card-info {
  padding: 0;
}
