<footer>
  <div class="footer__container">
    <div class="footer__social-media">
      <div class="social-media-icons">
        <ul>
          <li>
            <a href="https://facebook.com" target="_blank"
              ><img src="assets/Facebook.gif" alt=""
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank"
              ><img src="assets/Instagram.gif" alt=""
            /></a>
          </li>
          <li>
            <a href="https://linkedin.com" target="_blank"
              ><img src="assets/LinkedIn.gif" alt=""
            /></a>
          </li>
          <li>
            <a href="https://www.snapchat.com/" target="_blank"
              ><img src="assets/SnapChat.gif" alt=""
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/home" target="_blank"
              ><img src="assets/Twitter.gif" alt=""
            /></a>
          </li>
        </ul>
      </div>
      <div></div>
    </div>
  </div>
</footer>
